<div [ngClass]="{'canvas-container': hasBorder}">
  <canvas id="overlay"
          width="width"
          height="height"
          style="position:absolute;pointer-events:none;">
  </canvas>
  <canvas baseChart
          id="chartJSContainer"
          [ngStyle]="{ width: width, height: height}"
          [plugins]="chartPlugins"
          [data]="chartSingleData"
          [datasets]="chartDataSet"
          [labels]="chartLabels"
          [options]="chartOptions"
          [colors]="chartColors"
          [legend]="chartLegend"
          [chartType]="chartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
  </canvas>
</div>
