<div [ngClass]="{'canvas-container': hasBorder}">
  <canvas #overlay
          width="width"
          height="height"
          class="canvas-overlay">
  </canvas>
  <canvas baseChart
          #chartJSContainer
          [ngStyle]="{ width: width, height: height}"
          [plugins]="chartPlugins"
          [data]="chartSingleData"
          [datasets]="chartDataSet"
          [labels]="chartLabels"
          [options]="chartOptions"
          [colors]="chartColors"
          [legend]="chartLegend"
          (chartHover)="chartHovered($event)"
          (mouseleave)="hovering = false"
          [chartType]="chartType">
  </canvas>
</div>

<div *ngIf="hovering == true" class="legend-tooltip" [ngStyle]="{left: tooltipInfo.x, top: tooltipInfo.y}">
  <div *ngFor="let bar of tooltipInfo.bars">
    <div class="tool-tip-title">{{bar.title}}</div>
    <div class="tool-tip-info">
      <span class="tooltip-info-color" [ngStyle]="{background: bar.color}"></span>
      <span class="tooltip-info-value">{{bar.value}}</span>
      <span class="tooltip-info-text">{{bar.text}}</span>
    </div>
  </div>
</div>
