.canvas-container {
  border: 1px solid #314211;
  border-radius: 25px;
  padding: 2px;
  margin: 10px;
}

.canvas-overlay {
  position:absolute;
  pointer-events:none;
}

.legend-tooltip {
  color: #575757;
  background-color: #FFFFFF;
  box-shadow: 0 2px 3px 0 rgb(0 0 0);
  position: absolute;
}
