
<div  class="charts-container">
  <div *ngFor="let chart of data" style="display: flex">
    <div *ngIf="chart.display === true">
      <app-line-chart
        class="chart-item"
        *ngIf="chart.type === CHART_TYPE.LINE"
        [data]="chart"
        (onZoom)="onZoom.emit($event)">
      </app-line-chart>
      <app-bubble-chart
        class="chart-item"
        *ngIf="chart.type === CHART_TYPE.BUBBLE"
        [data]="chart" >
      </app-bubble-chart>
      <app-doughnut-chart
        class="chart-item"
        *ngIf="chart.type === CHART_TYPE.DOUGHNUT"
        [data]="chart" >
      </app-doughnut-chart>
      <app-hor-bar-chart
        class="chart-item"
        *ngIf="chart.type === CHART_TYPE.HOR_BAR"
        [data]="chart">
      </app-hor-bar-chart>
      <app-bar-chart
        class="chart-item"
        *ngIf="chart.type === CHART_TYPE.BAR"
        [data]="chart">
      </app-bar-chart>
      <app-pie-chart
        class="chart-item"
        *ngIf="chart.type === CHART_TYPE.PIE"
        [data]="chart" >
      </app-pie-chart>
      <app-polar-area-chart
        class="chart-item"
        *ngIf="chart.type === CHART_TYPE.POLAR_AREA"
        [data]="chart">
      </app-polar-area-chart>
      <app-radar-chart
        class="chart-item"
        *ngIf="chart.type === CHART_TYPE.RADAR"
        [data]="chart">
      </app-radar-chart>
      <app-scatter-chart
        class="chart-item"
        *ngIf="chart.type === CHART_TYPE.SCATTER"
        [data]="chart">
      </app-scatter-chart>
    </div>
  </div>
</div>


